<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <!-- .  Constructor Injection     4. -->
  <bean id="greetingService1" class="com.cgi.myspring.GreetingServiceImpl">
      <constructor-arg>   <!-- 5. -->
                <value>GoodMorning</value>
      </constructor-arg>
  
  </bean>
   <!-- .  Setter Injection   12 -->
   <bean id="greetingService2"  class="com.cgi.myspring.GreetingServiceImpl">
      <property name="greeting">   
         <value>GoodEvening</value>  <!-- 13 -->
       </property>
  
   </bean>
   
</beans>